@media only screen and (max-width : 1400px){
  #logo{
  font-size: 1.3rem;
  padding: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  width: 45%;
  }
}
@media only screen and (max-width : 1200px){
  #logo{
  font-size: 1rem;
  padding: 10px;
  line-height: 20px;
  width: 30%;
  }
}
@media only screen and (max-width : 990px){
  #logo{
  font-size: 1.3rem;
  padding: 10px;
  letter-spacing: 0px;
  line-height: normal;
  width : 70%;
  }
}
@media only screen and (max-width : 480px){
  #logo{
    font-size : 1rem;
    padding: 8px;
    letter-spacing: 0px;
    line-height: 20px;
  }
}
@media only screen and (max-width : 310px){
  #logo{
    font-size : 0.8rem;
    padding: 8px;
    letter-spacing: 0px;
    line-height: 20px;
  }
}
.social > a{
  margin : 0.5em;
}
#preloader{
  background: #161616;
  margin : auto;
  padding:auto;
}
.status{
  opacity: 1;
  width: 58%;
  margin: auto;
}
.status > img{
  width : 100%;
  height: 100%;
  margin: auto;
}
/*.status {
	background: url("/GIF.gif") no-repeat scroll 0 0  rgba(0, 0, 0, 0);
	height: 100%;
	margin: auto;
	opacity: 1;
	position: relative;
	width: 58%;
}*/
#contact{
  padding-bottom: 0px;
}
#logoicon{
  width : 100%;
}
