$white: white;
$black: black;

$light-gray: rgba(0, 0, 0, .1);
$extra-light-gray: #f2f2f2;


$grey-darken:#212121;
$grey:#9e9e9e;

$error: #f44336;
$success: #00e676;


$primary-color: $grey-darken !default;
$secondary-color: $grey !default;